<div class="app">
  <form>
    <section>
      <div class="page">
        <div class="inner">
          <header class="header">
            <div class="logo">
              <img src="assets/zauver1.jpg" alt="">
            </div>
            <div class="title ">
              <h5>CENTRO DE MANTENIMIENTO AUTOMOTRIZ</h5>
              <h5>Francisco Matos Coronado No. 35</h5>
              <h5>Col Buena Vista C.P. 58335 Morelia, Michoacán</h5>
              <h5>Tel. 323-36-05 / Cel. 4431-44-74-36</h5>
            </div>
            <div class="budget">
              <img src="assets/bluechem.jpg" style="width:100%;">
            </div>
          </header>
          <div class="section1">
            <div class="table">
              <div class="tr thead">
                <div class="td" style="height: 8mm;">HOJA DE INSPECCIÓN</div>
              </div>
            </div>
            <div class="table">
              <div class="tr" style="margin-top: 2mm;">
                <div class="td">AUTO</div>
                <div class="td" style="padding-right: 2mm;"><input type="text"></div>
                <div class="td" style="padding-left: 2mm;">MODELO</div>
                <div class="td"><input type="text"></div>
              </div>
              <div class="tr">
                <div class="td">MOTOR</div>
                <div class="td" style="padding-right: 2mm;"><input type="text"></div>
                <div class="td" style="padding-left: 2mm;">ACEITE</div>
                <div class="td"><input type="text"></div>
              </div>
            </div>
          </div>
          <div class="section2">
            <div class="table">
              <div class="tr">
                <div class="td" style="padding-left: 0; padding-right: 2mm; vertical-align: top;">
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA DE MOTOR</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Niveles de líquido.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Mangueras.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Bandas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Cuerpo de aceleración.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Sistema de inyección.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Ruidos en motor.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Fugas de líquido.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Soportes en general.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA DE SUSPENSIÓN</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Amortiguadores delanteros.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Amortiguadores traseros.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Bujes.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Terminales de dirección.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Bieletas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Bridas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Horquillas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Tornillos estabilizadores.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Gomas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA DE DIRECCIÓN</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Bomba de dirección.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Fugas de líquido.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Ruidos o Zumbido.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Caja de Dirección.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Mangueras de presión.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Aceite.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                </div>
                <div class="td" style="padding-left: 2mm; vertical-align: top;">
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA ELÉCTRICO</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Batería.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Alternador.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Luces.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Terminales de batería.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Motor de arranque.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA ELECTRÓNICO</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Check engine.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Codigos de avería.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">P. de próximo servicio.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Iconos del tablero.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA DE ENFRIAMIENTO</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Temperatura.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Fugas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Tipo de anticongelante.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Densidad.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Ventilador.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                  <div class="table">
                    <div class="tr thead">
                      <div class="td"style="font-size:.95em;">SISTEMA DE FRENOS</div>
                    </div>
                  </div>
                  <div class="table t_">
                    <div class="tr">
                      <div class="td">Pastas delanteras.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Pastas traseras.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Discos delanteros.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Tambores.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Limpieza de ajuste.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Herrajes.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Mordazas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                    <div class="tr">
                      <div class="td">Fugas.</div>
                      <div class="td"><input type="text"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="section3">
              <h5>OBSERVACIONES:</h5>
              <textarea rows="3"></textarea>
              <div class="table">
                <div class="tr">
                  <div class="td">TECNICO: </div>
                  <div class="td"><input type="text"></div>
                  <div class="td">FECHA: </div>
                  <div class="td"><input type="text" value={{fecha}}></div>
                </div>
              </div>
          </div>
          <div class="no-print" id="printBtn" onclick="window.print()">
            <img src="assets/save.png" alt="" width="75" height="75">
          </div>
        </div>
      </div>
    </section>
  </form>
</div>