header {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 0;
    justify-content: space-between; 
  }
  header .logo {
    width: var(--logo-width);
    height: 100%;
   /* padding-top: 2mm;*/
  /*  padding-left: 6mm;*/
  }
  header .logo img {
    position: relative;
    height: 1.8cm;
   /* width: var(--logo-width); */
   /* left: 42%;*/
  }
  header .title {
    position: relative;
    width: calc(100% - var(--logo-width)*2);
    text-align: center;
   /* padding-top: 2mm;*/
  }
  header .title p{
    font-size: 0.7em;
  }
  header .budget{
    position: relative;
    width: var(--logo-width);
    padding-left: 13mm;
  }
  .section1, .section2 {margin-top:4mm; margin-bottom: 1mm;}
  .section3 {margin-top: 1mm;}
  .table {
    display: table;
    width: 100%;
  }
  
  .tr {
    display: table-row;
    height: 7mm;
    font-size: 0.9em;
    font-weight: 700;
   /* font-size: 0.9em;*/
  }
   .table .tr.thead .td {
    padding: 5px 0;
    background: #4747A5;
    color: white;
    font-weight: 700;
    font-size: 0.85em;
  }
  
   
  .tr input {
    border: 1px solid var(--border-color);
    width: 100%;
  }
  .tr.thead {
    display: table-header-group;
    height: 7mm;
    text-align: center;
  }
  .section1 .td:nth-child(1),
  .section1 .td:nth-child(3){
    width: 8%;
    border-right: 0;
  }
  .section1 .td:nth-child(2),
  .section1 .td:nth-child(4){
    width: 32%;
    border-right: 0;
  }
  .td {
    display: table-cell;
    vertical-align: middle;
  }
  .section2 .td:nth-child(1),
  .section2 .td:nth-child(2){
    width: 50%;
    border-right: 0;
  }
  .section2 .table.t_ .td:nth-child(1){
      width: 40%;
  }
  .section2 .table.t_{
      margin-top: 2mm;
  }
  .section3 textarea {
      width: 100%;
      resize: none;
  }
  .section3 .td:nth-child(1),
  .section3 .td:nth-child(3){
    width: 8%;
  }
  .section3 .td:nth-child(2){
    width: 50%;
    padding: 0 3mm;
  }
  .section3 .td:nth-child(4) input{
    border: none;
  }
  /*
  .section2 .td:nth-child(1) .tr .td{
      width: 45%;
  }*/
  
  /*
  .section2 .td:nth-child(2),
  .section2 .td:nth-child(4){
    width: 42%;
    border-right: 0;
  }*/
 /* header table{
    border-spacing: 0;
  }
  header .budget  tr{
    width: 6cm;
  }
  header .budget #budget{
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 0.9em;
    background: var(--text-color);
    height: 6mm;
    border-bottom: 1px solid var(--text-color);
    margin: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  header .budget #_budg{
    border:1px solid var(--text-color);
    height: 8mm;
    margin-top: 0;
    
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  #_budg input{
    color: red;
    font-weight: 700;
    font-size: 1em;
  }
  */

#printBtn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #printBtn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }